h1{
    background-color: aqua;
    border: solid brown 5px;
    border-radius: 5px;
    /* border-right: solid black 3px; */
    width: 250px;
  
     
}

.firstpara{
background-color: beige;
border: solid brown 5px;
border-radius: 5px;
width: 250px;
/* padding: 50px; */
margin: 60px;
/* padding-left: 10px;
padding-top: 20px;
padding-bottom: 30px;
padding-right: 40px; */
padding: 20px 40px;



}
.secondpara{
    background-color: yellow;
    border: solid brown 5px;
    border-radius: 5px;
    width: 250px;
}